(
    albedo: (1.0, 1.0, 1.0, 1.0),
    metallic: 0.0,               
    roughness: 0.8,            
    ao: 1.0,
    emission_strength: 0.0,
    emission_color: (0.0, 0.0, 0.0),
    albedo_texture: Some("src/assets/textures/2d_rgba8.ktx2"),
    normal_texture: None,
    metallic_roughness_texture: None,
    emission_texture: None,
)